<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831917852046-mjvc6aj8556nfhelieg0t9ke5h7lhkke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831917852046-mjvc6aj8556nfhelieg0t9ke5h7lhkke</string>
	<key>API_KEY</key>
	<string>AIzaSyA42c_D4avpv-dRPtqDrFDh5LlisIWwM-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>831917852046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>az.doctoro.doctoro</string>
	<key>PROJECT_ID</key>
	<string>doctoro-5ce1d</string>
	<key>STORAGE_BUCKET</key>
	<string>doctoro-5ce1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831917852046:ios:826f8da55ac6f07fd490df</string>
</dict>
</plist>